{% extends "layout.html" %}

{% block pageTitle %}
- About
{% endblock %}

{% block content %}
<article>
	<h1>About Visual BSD (VisBSD)</h1>

	<p>Visual BSD is a web index of packages for systems using the <a href="https://github.com/freebsd/pkg">pkg</a> package manager.</p>

	<p>I imagine this site as a cross between <a href="https://www.omgubuntu.co.uk/">OMG!Ubuntu!</a>, (that reviews latest releases of software, with a focus on graphical applications) and an application store. (e.g Canonical's <a href="https://snapcraft.io/store">snap store</a> and <a href="https://flathub.org/home">flathub</a>). Of course there are already existing sites which already do this, but there is no harm in having more.</p>

	<p>The source for this can be found on <a href="https://gitlab.com/port22/visbsd">GitLab</a>. I welcome any feedback, questions, and comments. Direct them to the repository's issue tracker on GitLab.</p>
</article>
{% endblock %}