{% extends "layout.html" %}

{% block content %}
<div class="col-4 col-12-medium">
	<div id="sidebar">	</div>
</div>
<div class="col-8 col-12-medium imp-medium">
	<div class="content">
		{% if results %}
		<ul>
		{% for i in results %}
			<li><a href="/category/{{ i['name'] }}">{{ i['name'] }}</a></li>
		{% endfor %}
		</ul>
		{% else %}
		No results!
		{% endif %}

	</div>
</div>
{% endblock %}