{% extends "layout.html" %}

{% block content %}
<div class="col-4 col-12-medium">
	<div id="sidebar">

		<!-- Sidebar -->
			<section>
				{% block pkgSide %}
				pkgSide
				{% endblock %}
			</section>

			<section>
				{% block pkgRelated %}
				Related.
				{% endblock %}
			</section>

	</div>
</div>
<div class="col-8 col-12-medium imp-medium">
	<div id="content">
		{% block pkgContent %}
		content
		{% endblock %}
	</div>
</div>
{% endblock %}