{% extends "twoColumn.html" %}

{% block pageTitle %}
- {{ p['name']}}
{% endblock %}

							
{% block pkgSide %}
	<h3>{{ p['origin'] }}</h3>
	<ul class="style2">
		<li>Version: {{ p['version'] }}</li>
		<li>{{ p['abi'] }}</li>
		<li>{{ p['arch'] }}</li>
		<li>{{ p['comment'] }}</li>
		<li><a href="{{ p['www'] }}">Homepage</a></li>
	</ul>												
{% endblock %}

{% block pkgRelated %}
	<h3>Related Packages</h3>
	<ul class="style2">
		<li><a href="#">Amet turpis, feugiat et sit amet</a></li>
		<li><a href="#">Ornare in hendrerit in lectus</a></li>
		<li><a href="#">Semper mod quis eget mi dolore</a></li>
		<li><a href="#">Quam turpis feugiat sit dolor</a></li>
		<li><a href="#">Amet ornare in hendrerit in lectus</a></li>
		<li><a href="#">Semper mod quisturpis nisi</a></li>
	</ul>
{% endblock %}


{% block pkgContent %}
<article>
	<h1>{{ p['name'] }}</h1>
	<p>{{ p['desc'] }}</p>
	<h2>Install</h2>
	<pre>pkg install {{ p['origin'] }}</pre>
</article>
{% endblock %}
